## DAY 7

#### 1. 특정 문자 제거하기

- 문제 설명: 문자열 my_string과 문자 letter이 매개변수로 주어집니다. my_string에서 letter를 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [4]:
def solution(my_string, letter):
    answer = ''
    for i in my_string:
        if i == letter:
            continue
        else:
            answer += i
    return answer

In [10]:
def solution(my_string, letter):
    return my_string.replace(letter, '')

In [12]:
solution("abcdef", "f")

'abcde'

In [14]:
solution("BCBdbe", "B")

'Cdbe'

#### 2. 각도기

- 문제 설명: 각에서 0도 초과 90도 미만은 예각, 90도는 직각, 90도 초과 180도 미만은 둔각 180도는 평각으로 분류합니다. 각 angle이 매개변수로 주어질 때 예각일 때 1, 직각일 때 2, 둔각일 때 3, 평각일 때 4를 return하도록 solution 함수를 완성해주세요.

In [18]:
def solution(angle):
    answer = 0
    if 0 < angle < 90:
        answer = 1
    elif angle == 90:
        answer = 2
    elif 90 < angle < 180:
        answer = 3
    else:
        answer = 4
    return answer

In [20]:
solution(70)

1

In [22]:
solution(91)

3

In [24]:
solution(180)

4

#### 3. 양꼬치

- 문제 설명: 머쓱이네 양꼬치 가게는 10인분을 먹으면 음료수 하나를 서비스로 줍니다. 양꼬치는 1인분에 12,000원, 음료수는 2,000원입니다. 정수 n과 k가 매개변수로 주어졌을 때, 양꼬치 n인분과 음료수 k개를 먹었다면 총얼마를 지불해야 하는지 return 하도록 solution 함수를 완성해보세요.

In [34]:
def solution(n,k):
    service = n // 10
    return n * 12000 + 2000 * k - 2000 * service

In [36]:
solution(10,3)

124000

In [38]:
solution(64,6)

768000

#### 4. 짝수의 합

- 문제 설명: 정수 n이 주어질 때, n이하의 짝수를 모두 더한 값을 return 하도록 solution 함수를 작성해주세요.

In [42]:
def solution(n):
    answer = 0
    for i in range(1, n+1):
        if i % 2 == 0:
            answer += i
    return answer

In [50]:
def solution(n):
    return sum([i for i in range(2, n+1, 2)])

In [52]:
solution(10)

30

In [54]:
solution(4)

6