## DAY 17

#### 1. 숫자 찾기

- 문제 설명: 정수 num과 k가 매개변수로 주어질 때, num을 이루는 숫자 중에 k가 있으면 num의 그 숫자가 있는 자리 수를 return하고 없으면 -1을 return 하도록 solution 함수를 완성해보세요.

In [28]:
def solution(num, k):
    answer = -1
    for idx, x in enumerate(str(num)):
        if x == str(k):
            answer = idx + 1
            break
    return answer

In [30]:
solution(29183, 1)

3

In [32]:
solution(232443, 4)

4

In [34]:
solution(123456, 7)

-1

#### 2. n의 배수 고르기

- 문제 설명: 정수 n과 정수 배열 numlist가 매개변수로 주어질 때, numlist에서 n의 배수가 아닌 수들을 제거한 배열을 return하도록 solution 함수를 완성해주세요.

In [38]:
def solution(n, numlist):
    answer = []
    for i in numlist:
        if i % n == 0:
            answer.append(i)
    return answer

In [48]:
def solution(n, numlist):
    return [i for i in numlist if i % n == 0]

In [50]:
solution(3,[4, 5, 6, 7, 8, 9, 10, 11, 12])

[6, 9, 12]

In [52]:
solution(5,[1, 9, 3, 10, 13, 5])

[10, 5]

In [54]:
solution(12, [2, 100, 120, 600, 12, 12])

[120, 600, 12, 12]

#### 3. 자릿수 더하기

- 문제 설명: 정수 n이 매개변수로 주어질 때 n의 각 자리 숫자의 합을 return하도록 solution 함수를 완성해주세요

In [58]:
def solution(n):
    answer = 0
    for i in str(n):
        answer += int(i)
    return answer

In [70]:
def solution(n):
    return sum(int(i) for i in str(n))

In [72]:
solution(1234)

10

In [74]:
solution(930211)

16

#### 4. OX 퀴즈

- 문제 설명: 덧셈, 뺄셈 수식들이 'X [연산자] Y = Z' 형태로 들어있는 문자열 배열 quiz가 매개변수로 주어집니다. 수식이 옳다면 "O"를 틀리다면 "X"를 순서대로 담은 배열을 return하도록 solution 함수를 완성해주세요.

In [98]:
def solution(quiz):
    answer = []
    for i in quiz:
        x, z = i.split('=')
        if eval(x) == int(z.strip()):
            answer.append("O")
        else:
            answer.append("X")
    return answer

In [100]:
solution(["3 - 4 = -3", "5 + 6 = 11"])

['X', 'O']

In [102]:
solution(["19 - 6 = 13", "5 + 66 = 71", "5 - 15 = 63", "3 - 1 = 2"])

['O', 'O', 'X', 'O']