## DAY 23

#### 1. 특이한 정렬

- 문제 설명: 정수 n을 기준으로 n과 가까운 수부터 정렬하려고 합니다. 이때 n으로부터의 거리가 같다면 더 큰 수를 앞에 오도록 배치합니다. 정수가 담긴 배열 numlist와 정수 n이 주어질 때 numlist의 원소를 n으로부터 가까운 순서대로 정렬한 배열을 return하도록 solution 함수를 완성해주세요.

In [36]:
def solution(numlist, n):
    dict = {}
    for num in numlist:
        dict[num] = abs(n-num)
    return sorted(dict, key=lambda x: (dict[x], -x))

In [38]:
solution([1, 2, 3, 4, 5, 6], 4)

[4, 5, 3, 6, 2, 1]

In [40]:
solution([10000,20,36,47,40,6,10,7000], 30)

[36, 40, 20, 47, 10, 6, 7000, 10000]

#### 2. 등수 매기기

- 문제 설명: 영어 점수와 수학 점수의 평균 점수를 기준으로 학생들의 등수를 매기려고 합니다. 영어 점수와 수학 점수를 담은 2차원 정수 배열 score가 주어질 때, 영어 점수와 수학 점수의 평균을 기준으로 매긴 등수를 담은 배열을 return하도록 solution 함수를 완성해주세요.

In [88]:
def solution(score):
    mean_list = [sum(i)/len(i) for i in score]
    sorted_score = sorted([i for i in mean_list], reverse = True)
    rank_dict = {}
    rank = 1

    for score in sorted_score:
        if score not in rank_dict:
            rank_dict[score] = rank
        rank += 1
    return [rank_dict[i] for i in mean_list]

In [90]:
solution([[80, 70], [90, 50], [40, 70], [50, 80]])

[1, 2, 4, 3]

In [92]:
solution([[80, 70], [70, 80], [30, 50], [90, 100], [100, 90], [100, 100], [10, 30]])

[4, 4, 6, 2, 2, 1, 7]

#### 3. 옹알이 (1)

- 문제 설명: 머쓱이는 태어난 지 6개월 된 조카를 돌보고 있습니다. 조카는 아직 "aya", "ye", "woo", "ma" 네 가지 발음을 최대 한 번씩 사용해 조합한(이어 붙인) 발음밖에 하지 못합니다. 문자열 배열 babbling이 매개변수로 주어질 때, 머쓱이의 조카가 발음할 수 있는 단어의 개수를 return하도록 solution 함수를 완성해주세요.

In [21]:
def solution(babbling):
    sounds = ["aya", "ye", "woo", "ma"]
    count = 0

    for word in babbling:
        used = set()
        i = 0
        valid = True

        while i < len(word):
            matched = False
            for sound in sounds:
                if word.startswith(sound, i):
                    if sound in used:
                        valid = False
                        break
                    used.add(sound)
                    i += len(sound)
                    matched = True
                    break
            if not matched:
                valid = False
                break

        if valid:
            count += 1

    return count

In [23]:
solution(["aya", "yee", "u", "maa", "wyeoo"])

1

In [25]:
solution(["ayaye", "uuuma", "ye", "yemawoo", "ayaa"])

3

#### 4. 로그인 성공?

- 문제 설명: 머쓱이는 프로그래머스에 로그인하려고 합니다. 머쓱이가 입력한 아이디와 패스워드가 담긴 배열 id_pw와 회원들의 정보가 담긴 2차원 배열 db가 주어질 때, 다음과 같이 로그인 성공, 실패에 따른 메시지를 return하도록 solution 함수를 완성해주세요.
- 아이디와 비밀번호가 모두 일치하는 회원정보가 있으면 "login"을 return합니다.
- 로그인이 실패했을 때 아이디가 일치하는 회원이 없다면 “fail”를, 아이디는 일치하지만 비밀번호가 일치하는 회원이 없다면 “wrong pw”를 return 합니다.

In [111]:
def solution(id_pw, db):
    id = id_pw[0]
    pw = id_pw[1]
    correct_id_pw = ['','']

    for idx, x in enumerate(db):
        if id == x[0]:
            correct_id_pw = db[idx]
        else:
            continue
    
    if (id == correct_id_pw[0]) & (pw == correct_id_pw[1]):
        return "login"
    elif (id == correct_id_pw[0]):
        return "wrong pw"
    else:
        return "fail"

In [113]:
solution(["meosseugi", "1234"], [["rardss", "123"], ["yyoom", "1234"], ["meosseugi", "1234"]])

'login'

In [115]:
solution(["programmer01", "15789"], [["programmer02", "111111"], ["programmer00", "134"], ["programmer01", "1145"]])

'wrong pw'

In [117]:
solution(["rabbit04", "98761"], [["jaja11", "98761"], ["krong0313", "29440"], ["rabbit00", "111333"]])

'fail'