## DAY 12

#### 1. 모음 제거

- 문제 설명: 영어에선 a, e, i, o, u 다섯 가지 알파벳을 모음으로 분류합니다. 문자열 my_string이 매개변수로 주어질 때 모음을 제거한 문자열을 return하도록 solution 함수를 완성해주세요.

In [4]:
def solution(my_string):
    answer = ''
    for i in my_string:
        if i in ['a','e','i','o','u']:
            continue
        else:
            answer += i
    return answer

In [18]:
def solution(my_string):
    return ''.join([i for i in my_string if i not in ['a','e','i','o','u']])

In [20]:
solution("bus")

'bs'

In [22]:
solution("nice to meet you")

'nc t mt y'

#### 2. 문자열 정렬하기 (1)

- 문제 설명: 문자열 my_string이 매개변수로 주어질 때, my_string 안에 있는 숫자만 골라 오름차순 정렬한 리스트를 return 하도록 solution 함수를 작성해보세요.

In [28]:
def solution(my_string):
    answer = []
    for i in my_string:
        if i in ['1','2','3','4','5','6','7','8','9','0']:
            answer.append(int(i))
    return sorted(answer)

In [36]:
def solution(my_string):
    return sorted([int(i) for i in my_string if i.isdigit()])

In [38]:
solution("hi12392")

[1, 2, 2, 3, 9]

In [40]:
solution("p2o4i8gj2")

[2, 2, 4, 8]

In [42]:
solution("abcde0")

[0]

#### 3. 숨어있는 숫자의 덧셈 (1)

- 문제 설명: 문자열 my_string이 매개변수로 주어집니다. my_string안의 모든 자연수들의 합을 return하도록 solution 함수를 완성해주세요.

In [46]:
def solution(my_string):
    return sum([int(i) for i in my_string if i.isdigit()])

In [48]:
solution("aAb1B2cC34oOp")

10

In [50]:
solution("1a2b3c4d123")

16

#### 4. 소인수분해

- 문제 설명: 소인수분해란 어떤 수를 소수들의 곱으로 표현하는 것입니다. 예를 들어 12를 소인수 분해하면 2 * 2 * 3 으로 나타낼 수 있습니다. 따라서 12의 소인수는 2와 3입니다. 자연수 n이 매개변수로 주어질 때 n의 소인수를 오름차순으로 담은 배열을 return하도록 solution 함수를 완성해주세요.

In [66]:
def solution(n):
    measures = []
    answer = []
    for i in range(1, n+1):
        if n % i == 0:
            measures.append(i)

    for measure in measures:
        count_measure = []
        for j in range(1, measure+1):
            if measure % j == 0:
                count_measure.append(j)
        if len(count_measure) == 2:
            answer.append(measure)
    return answer

In [68]:
solution(12)

[2, 3]

In [70]:
solution(17)

[17]

In [72]:
solution(420)

[2, 3, 5, 7]